@{
	ViewData["Title"] = "Home Page";
}

	  <section class="jumbotron text-center">
		<div class="container">
		  <h1 class="jumbotron-heading">My Anime Collections</h1>
		  <p class="lead text-muted">
			Welcome to my anime collection! Dive into a world where imagination knows no bounds and stories come to life in vibrant colors and captivating narratives. From timeless classics to the latest releases, my collection spans genres, eras, and styles, offering a diverse array of experiences for every anime enthusiast. Whether you're drawn to action-packed adventures, heartwarming romances, or mind-bending mysteries, there's something here to ignite your passion for anime. Join me on a journey through fantastical worlds, unforgettable characters, and epic battles, as we explore the rich tapestry of storytelling that anime has to offer. So grab a seat, immerse yourself in the magic of animation, and let's embark on an unforgettable adventure together!
		  </p>
		  <p>
			<a class="btn btn-primary my-2" asp-area="" asp-controller="Anime" asp-action="Create">Add Anime</a>
			<a class="btn btn-secondary my-2" asp-area="" asp-controller="Genre" asp-action="Index">Add Genres</a>
		  </p>
		</div>
	  </section>
